<% const button = {
    id,
    class: buttonClass + ' article-action-button',
    attrs: {
        'title': buttonTitle,
        'data-action': action,
        'data-id': entityId,
        'data-type': entityType,
        'data-mdb-tooltip-init': '',
        'data-mdb-placement': 'top'
    },
    content: `
        <i class="${ iconClass }"></i>
        <span class="ms-1">${ value ?? 0 }</span>
    `
}; %>

<%- include('../../../shared/button', {
    button
}) %>