<% form.input.label.class = ' visually-hidden';

form.input.errorClass = 'invalid-tooltip'; %>

<form <% for (let key in form.attrs) { %> 
        <%= key %>="<%= form.attrs[key] %>" 
    <% } %>
    novalidate
>
    <div class="input-group">
        <%- include('./input', { input: form.input }) %>

        <%- include('./submit', { button: form.submitButton }); %>
    </div>
</form>