<section>
    <h2>Siguiendo</h2>

    <p>Esta es la sección de "Siguiendo". Aquí puedes ver a quién estás siguiendo.</p>

    <%- include('./components/following/followingSection', { 
        title: 'Tags/Temas', 
        items: tags 
    }) %>

    <%- include('./components/following/followingSection', { 
        title: 'Autores', 
        items: authors 
    }) %>
</section>