<ul class="list-unstyled mb-0">
    <% notices.forEach( notice => { 
        const category = notice.category ? getCategory(notice.category) : '';
        const imageUrl = notice.imageUrls && notice.imageUrls.length > 0 ? notice.imageUrls[0] : '';
        const shortTitle = notice.title.length > 50 ? `${notice.title.substring(0, 50)} ...` : notice.title;
        const date = notice.publicationDate ? formatShortDate(notice.publicationDate) : '';
    %>
        <li class="border-bottom mb-1">
            <%- include('./article', {
                articleViewMode: isSidebar ? 'none' : 'horizontal',
                shortTitle,
                category,
                date
            }); %>
        </li>
    <% }); %>
</ul>