<section>
    <h5 class="title-style">Noticias Populares</h5>

    <div class="py-3">
        <% if (isFooter) { %>
            <%- include('./slider', { 
                swiperClass: 'swiper-popular-news', 
                articleViewMode: 'overlay' 
            }); %>
        <%} else { %>
            <%- include('./articleList', { isSidebar: true }); %>
        <% } %>
    </div>
</section>