<% const categories = [
    { name: 'Gaming', icon: '', slug: '#', style1: 'btn btn-outline-primary m-1', style2: 'btn btn-outline-primary m-1' },
    { name: 'Negocios', icon: '', slug: '#', style1: 'btn btn-outline-primary m-1', style2: 'btn btn-outline-primary m-1' },
    { name: 'Educación', icon: '', slug: '#', style1: 'btn btn-outline-primary m-1', style2: 'btn btn-outline-primary m-1' },
    { name: 'Tecnología', icon: '', slug: '#', style1: 'btn btn-outline-primary m-1', style2: 'btn btn-outline-primary m-1' },
    { name: 'Streaming', icon: '', slug: '#', style1: 'btn btn-outline-primary m-1', style2: 'btn btn-outline-primary m-1' },
    { name: 'Deportes', icon: '', slug: '#', style1: 'btn btn-outline-primary m-1', style2: 'btn btn-outline-primary m-1' },
    { name: 'Entretenimiento', icon: '', slug: '#', style1: 'btn btn-outline-primary m-1', style2: 'btn btn-outline-primary m-1' },
    { name: 'General', icon: '', slug: '#', style1: 'btn btn-outline-primary m-1', style2: 'btn btn-outline-primary m-1' }
]; %>

<section>
    <h5 class="title-style">
        Categorías
    </h5>

    <%- include('../components/buttonList', { 
        buttons: categories,
        classContainer: 'bg-style container-flex-buttons',
        withStyle2: false,
        withName: true,
        withIcon: false
    }) %>
</section>