<footer class="bg-dark text-light">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-12 col-md-5 col-lg-4">
                <a class="fw-medium d-inline-block mb-4" href="/contact">
                    <i class="fa fa-envelope me-2"></i>Contactanos
                </a>

                <h5 class="footer-title">
                    Siguenos
                </h5>

                <div class="d-flex gap-2">

                    <a class="btn btn-secondary" href="#">
                        <i class="fab fa-tiktok"></i>
                    </a>

                    <a class="btn btn-secondary" href="#"><i
                        class="fab fa-facebook-f"></i>
                    </a>

                    <a class="btn btn-secondary" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <a class="btn btn-secondary" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <a class="btn btn-secondary" href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-7 col-lg-8">
                <%- include('../components/slider', {
                    classTitleType: 'footer',
                    sectionTitle: 'Noticias Populares',
                    swiperClass: 'popular-news',
                    notices: notices,
                    withOverlay: true,
                    encryptionKey
                }) %>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-secondary py-2">
        <p class="text-center">&copy; <a href="#">Titulo</a>. Todos los derechos reservados.
    </div>

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-arrow-up"></i></a>
</footer>