<header class="bg-dark text-light">
    <div class="container-fluid">
        <div class="row header-row">
            <div class="col-12 col-md-4 col-lg-3 border-end px-0">
                <div class="py-2">
                    <%= todayFormatted %>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-6 px-0">
                <nav class="navbar p-0">
                    <ul class="navbar-nav d-flex flex-row justify-content-center">

                        <li class="nav-item border-end px-2">
                            <a class="nav-link text-light" href="#">Tags</a>
                        </li>

                        <li class="nav-item border-end px-2">
                            <a class="nav-link text-light" href="#">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-12 col-md-4 col-lg-3 px-0">
                <div class="py-2">
                    <a href="/login" class="text-light">
                        <i class="fa fa-user me-2"></i>Iniciar Sesión
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-title py-3">
        <div class="row header-row">
            <div class="col-12">
                <a href="/" class="navbar-brand">
                    <h1 class="text-uppercase fw-bold text-light mb-0">Titulo</h1>
                </a>
            </div>
        </div>
    </div>
</header>