<section>
    <h5 class="title-style">Noticias Populares</h5>

    <div class="bg-style">
        <%- include('../components/slider', {
            swiperClass: 'swiper-popular-news',
            withOverlay: true,
        }) %>
    </div>
</section>