<aside class="mb-4 my-3">
    <div class="mb-4">
        <%- include('../components/slider', {
            classTitleType: 'sidebar',
            sectionTitle,
            swiperClass,
            notices,
            withOverlay,
            encryptionKey
        }) %>
    </div>
</aside>