<% const tags = [
    { name: 'Xbox', icon: '', slug: '#', style1: 'btn btn-outline-secondary m-1', style2: 'btn btn-outline-secondary m-1' },
    { name: 'T1', icon: '', slug: '#', style1: 'btn btn-outline-secondary m-1', style2: 'btn btn-outline-secondary m-1' },
    { name: 'PlayStation', icon: '', slug: '#', style1: 'btn btn-outline-secondary m-1', style2: 'btn btn-outline-secondary m-1' },
    { name: 'Vue.js', icon: '', slug: '#', style1: 'btn btn-outline-secondary m-1', style2: 'btn btn-outline-secondary m-1' },
    { name: 'React', icon: '', slug: '#', style1: 'btn btn-outline-secondary m-1', style2: 'btn btn-outline-secondary m-1' }
]; %>

<section>
    <h5 class="title-style">
        Tags
    </h5>

    <%- include('../components/buttonList', { 
        buttons: tags,
        classContainer: 'bg-style container-flex-buttons',
        withStyle2: false,
        withName: true,
        withIcon: false
    }) %> 
</section>