<% const form = {
    idForm: (isFooter) ? 'newsletterFooterForm' : 'newsletterSidebarForm',
    input: {
        id: (isFooter) ? 'emailNewsletterFooterInput' : 'emailNewsletterSidebarInput',
        label: 'Correo electrónico:',
        placeholder: 'Ingresa tu correo electrónico',
        name: 'email'
    },
    buttonLabel: 'Suscribirse'
}; %>

<section>
    <h5 class="title-style">Suscríbete a nuestro boletín</h5>

    <div class="bg-style mb-4">
        <%- include('./form', {
            formViewMode: 'newsletter',
            form
        }); -%>
    </div>
</section>