<% const form = {
    idForm: (isFooter) ? 'newsletterFooterForm' : 'newsletterSidebarForm',
    idInput: (isFooter) ? 'emailNewsletterFooterInput' : 'emailNewsletterSidebarInput',
    buttonLabel: 'Suscribirse'
}; %>

<section>
    <h5 class="title-style">Suscríbete a nuestro boletín</h5>

    <div class="bg-style mb-4">
        <%- include('./form', {
            formViewMode: 'newsletter',
            form
        }); -%>
    </div>
</section>