<% const links = [
    { content: `<i class="fab fa-tiktok"></i>${ isFooter ? '' : 'TikTok' }`, slug: '#', style: isFooter ? 'btn btn-tiktok' : 'tiktok-link' },
    { content: `<i class="fab fa-facebook-f"></i>${ isFooter ? '' : 'Facebook' }`, slug: '#', style: isFooter ? 'btn btn-facebook' : 'facebook-link' },
    { content: `<i class="fab fa-instagram"></i>${ isFooter ? '' : 'Instagram' }`, slug: '#', style: isFooter ? 'btn btn-instagram' : 'instagram-link' },
    { content: `<i class="fab fa-twitter"></i>${ isFooter ? '' : 'Twitter' }`, slug: '#', style: isFooter ? 'btn btn-twitter' : 'twitter-link' },
    { content: `<i class="fab fa-youtube"></i>${ isFooter ? '' : 'YouTube' }`, slug: '#', style: isFooter ? 'btn btn-youtube' : 'youtube-link' }
]; %>

<section>
    <h5 class="title-style">
        Siguenos
    </h5>

    <%- include('./buttonList', { 
        buttons: links,
        classContainer: isFooter ? 'bg-style d-flex gap-2' : 'social-links bg-style d-grid'
    }); %>
</section>