<div class="form-check form-switch mb-3">
    <input id="<%= switchItem.id %>" type="checkbox" name="commentNotifications" 
        role="switch" class="form-check-input"
    >

    <label class="form-check-label" for="<%= switchItem.id %>">
        <%- switchItem.content %>
    </label>
</div>