<% const links = [
    { content: 'Xbox', slug: '#', style: 'btn btn-outline-secondary m-1' },
    { content: 'T1', slug: '#', style: 'btn btn-outline-secondary m-1' },
    { content: 'PlayStation', slug: '#', style: 'btn btn-outline-secondary m-1' },
    { content: 'Vue.js', slug: '#', style: 'btn btn-outline-secondary m-1' },
    { content: 'React', slug: '#', style: 'btn btn-outline-secondary m-1' }
]; %>

<section>
    <h5 class="title-style">
        Tags
    </h5>

    <%- include('./linkList', { 
        links,
        isHeader: false,
        classContainer: 'justify-content-center'
    }); %> 
</section>