<% const containerTab = {
    id: 'profile',
    tabs: [
        { 
            id: 'home', 
            active: true, 
            controls: 'home', 
            title: 'Mi Perfil', 
            route: '../profile/profileHome'
        },
        { 
            id: 'following', 
            active: false, 
            controls: 'following', 
            title: 'Siguiendo', 
            route: '../profile/following' 
        },
        { 
            id: 'account', 
            active: false, 
            controls: 'account', 
            title: 'Cuenta', 
            route: '../profile/account'
        },
        { 
            id: 'preferences', 
            active: false, 
            controls: 'preferences', 
            title: 'Preferencias', 
            route: '../profile/preferences' 
        },
        {
            id: 'security', 
            active: false,
            controls: 'security', 
            title: 'Seguridad',
            route: '../profile/security'
        }
    ]
}; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

        <link href="/img/logo.png" rel="icon">
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <%- include('./partials/layout/header'); %>

        <div class="container-fluid my-4">
            <main>
                <%- include('./partials/shared/tabList', { containerTab }) %>
            </main>
        </div>

        <%- include('./partials/layout/footer'); %>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <script type="module" src="/js/index.js"></script>
        <!-- <script type="module" src="/js/pages/auth/login.js"></script>
        <script type="module" src="/js/pages/auth/register.js"></script>
        <script type="module" src="/js/pages/auth/recover.js"></script>
        <script type="module" src="/js/pages/newsletters/sidebar.js"></script> -->
        <script type="module" src="/js/pages/newsletters/footer.js"></script>
        <script type="module" src="/js/pages/profile/account.js"></script>
        <script type="module" src="/js/pages/profile/security/passwordSecurity.js"></script>
        <script type="module" src="/js/pages/profile/preferences.js"></script>
        <script type="module" src="/js/core/searchForm.js"></script>
    </body>
</html>