/* color variables */

:root {
  --mdb-primary: #0077B6; 
  --mdb-primary-rgb: 0, 119, 182;

  --mdb-secondary: #33415C; 
  --mdb-secondary-rgb: 51, 65, 92;

  --mdb-accent: #FCA311;
  --mdb-accent-rgb: 252, 163, 17;

  --mdb-light: #FFFFFF;
  --mdb-light-rgb: 255, 255, 255;

  --mdb-dark: #1b1b20;
  --mdb-dark-rgb: 27, 27, 32;

  --mdb-dar-secondary: #84B3F0;

  --mdb-highlight-bg-color: var(--mdb-primary);
  --mdb-surface-color: var(--mdb-light);

  --mdb-heading-color: var(--mdb-secondary);
  --mdb-font-sans-serif: "Montserrat", sans-serif;

  --btn-color-facebook: #3b5998;
  --btn-color-instagram: #E1306C;
  --btn-color-tiktok: #000000;
  --btn-color-twitter: #1DA1F2;
  --btn-color-youtube: #FF0000;
  --btn-color-google: #dd4b39;
}

body {
  --mdb-body-color: #333333;
  --mdb-body-bg: #F5F7FA;
}

.border-end {
  --mdb-border-color: #E4E7ED;
}

/* button styles */

.btn-primary {
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--mdb-primary);
  --mdb-btn-border-color: var(--mdb-primary);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--mdb-secondary);
  --mdb-btn-hover-border-color: var(--mdb-secondary);
}

.btn-outline-primary {
  --mdb-btn-color: var(--mdb-primary);
  --mdb-btn-border-color: var(--mdb-primary);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--mdb-primary);
  --mdb-btn-hover-border-color: var(--mdb-primary);
}

.btn-secondary {
  --btn-color-hover-secondary: #0A1A2F;
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--mdb-secondary);
  --mdb-btn-border-color: var(--mdb-secondary);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--btn-color-hover-secondary);
  --mdb-btn-hover-border-color: var(--btn-color-hover-secondary);
}

.btn-outline-secondary {
  --mdb-btn-color: var(--mdb-secondary);
  --mdb-btn-border-color: var(--mdb-secondary);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--mdb-secondary);
  --mdb-btn-hover-border-color: var(--mdb-secondary);
}

.btn-dark {
  --mdb-btn-bg: var(--mdb-dark);
}

.btn-fixed {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 99;
}

.btn-fixed.visible {
  opacity: 1;
  pointer-events: auto;
}

.btn-filters {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 99;
}

.back-to-top {
  right: 30px;
  bottom: 30px;
}

.bg-sticky button {
  width: 75% !important;
}

.btn-facebook {
  --btn-color-hover-facebook: #2d4373;
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--btn-color-facebook);
  --mdb-btn-border-color: var(--btn-color-facebook);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--btn-color-hover-facebook);
  --mdb-btn-hover-border-color: var(--btn-color-hover-facebook);
}

.btn-instagram {
  --btn-color-hover-instagram: #C13584;
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--btn-color-instagram);
  --mdb-btn-border-color: var(--btn-color-instagram);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--btn-color-hover-instagram);
  --mdb-btn-hover-border-color: var(--btn-color-hover-instagram);
}

.btn-tiktok {
  --btn-color-hover-tiktok: #333333;
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--btn-color-tiktok);
  --mdb-btn-border-color: var(--btn-color-tiktok);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--btn-color-hover-tiktok);
  --mdb-btn-hover-border-color: var(--btn-color-hover-tiktok);
}

.btn-twitter {
  --btn-color-hover-twitter: #0d8ddf;
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--btn-color-twitter);
  --mdb-btn-border-color: var(--btn-color-twitter);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--btn-color-hover-twitter);
  --mdb-btn-hover-border-color: var(--btn-color-hover-twitter);
}

.btn-youtube {
  --btn-color-hover-youtube: #CC0000;
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--btn-color-youtube);
  --mdb-btn-border-color: var(--btn-color-youtube);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--btn-color-hover-youtube);
  --mdb-btn-hover-border-color: var(--btn-color-hover-youtube);
}

.btn-google {
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-outline-border-color: var(--btn-color-google);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--btn-color-google);
  --mdb-btn-outline-hover-border-color: var(--btn-color-google);
}

/* list styles */

.list-group {
  --mdb-list-group-color: var(--mdb-light);
  --mdb-list-group-bg: var(--mdb-primary);
  --mdb-list-group-action-hover-color: var(--mdb-light);
  --mdb-list-group-action-hover-bg: var(--mdb-dark);
  --mdb-list-group-action-active-color: var(--mdb-light);
  --mdb-list-group-action-active-bg: var(--mdb-accent);
}

.list-group .card {
  --mdb-card-color: var(--mdb-list-group-color);
  --mdb-card-bg: var(--mdb-list-group-bg);
}

.list-group form {
  --mdb-list-group-color: var(--mdb-light);
  --mdb-list-group-bg: var(--mdb-secondary);
  --mdb-list-group-action-hover-color: var(--mdb-accent);
  --mdb-list-group-action-hover-bg: var(--mdb-dark);
}

/* dropdown menu styles */

.dropdown-menu {
  --mdb-dropdown-bg: var(--mdb-secondary);
}

form .dropdown-item {
  --mdb-surface-color: var(--mdb-accent);
  --mdb-highlight-bg-color: var(--mdb-dark);
}

/* accordion styles */

.accordion {
  --mdb-accordion-bg: var(--mdb-dark);
  --mdb-accordion-active-color: var(--mdb-light);
  --mdb-accordion-active-bg: var(--mdb-primary);
  --mdb-accordion-border-color: var(--mdb-light);
  --mdb-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --mdb-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --mdb-accordion-btn-icon-width: 2rem;
}

.accordion-item:last-of-type .list-group-item:last-child {
  border-bottom-left-radius: var(--mdb-accordion-inner-border-radius);
  border-bottom-right-radius: var(--mdb-accordion-inner-border-radius);
}

/* navbar styles */

nav .nav-link, .offcanvas .nav-link {
  position: relative;
  --mdb-nav-link-color: var(--mdb-light);
  --mdb-nav-link-hover-color: var(--mdb-accent);
  --mdb-navbar-active-color: var(--mdb-accent);
  transition: color 0.3s ease;
}

nav .nav-link::after, .offcanvas .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--mdb-accent);
  transition: width 0.3s ease;
}

nav .nav-link:hover::after, .offcanvas .nav-link:hover::after {
  width: 100%;
}

nav .nav-link.active::after, .offcanvas .nav-link.active::after {
  width: 100%;
  background: var(--mdb-accent);
}

.nav-justified button {
  width: 100% !important;
}

/* tab styles */

.nav-tabs .nav-link {
  --mdb-nav-tabs-link-font-weight: bold;
  --mdb-nav-tabs-link-font-size: 14px;
  --mdb-nav-tabs-link-color: var(--mdb-dark);
  --mdb-nav-tabs-link-hover-bgc: var(--mdb-accent);
  --mdb-nav-tabs-link-active-color: var(--mdb-primary);
  --mdb-nav-tabs-link-active-border-color: var(--mdb-primary);
}

/* link styles */

a {
  --mdb-link-color-rgb: var(--mdb-primary-rgb);
  --mdb-link-hover-color-rgb: var(--mdb-accent-rgb);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* overlay styles */

.text-overlay {
  color: var(--mdb-light);
}

.text-overlay:hover {
  color: var(--mdb-accent);
}

.badge-primary:hover {
  color: var(--mdb-accent);
  background-color: var(--mdb-secondary);
}

.overlay {
  display: flex;
  align-items: end;
  position: absolute;
  background: linear-gradient(to bottom, rgba(var(--mdb-light-rgb), 0), var(--mdb-dark));
}

/* title styles */

.title-style {
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px;
  margin-block-end: 15px;
  padding: 15px;
  border-inline: 5px solid var(--mdb-primary);
}

footer .title-style, header .title-style {
  background-color: inherit;
  border: none;
  color: var(--mdb-light);
}

/* slider styles */

.swiper-slide article {
  margin-inline: 40px;
}

.swiper-navigation-prev, .swiper-navigaton-next {
  --swiper-theme-color: var(--mdb-primary);
}

/* text styles */

label {
  font-weight: 800;
}

span {
  text-transform: none;
  font-size: large;
}

textarea ~ div[data-error-for] {
  margin-top: -1.5rem;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: 0px;
}

.posts-count-content {
  padding-inline-start: 1rem;
  border-inline-start: 3px solid var(--mdb-dark);
}

@media (min-width: 576px) {
  .posts-count-content {
    padding-inline-start: 1rem;
    border-inline-start: 3px solid var(--mdb-dark);
  }
}

@media (min-width: 768px) {
  .profile-content {
    margin-inline-start: 175px;
  }

  .posts-count-content {
    padding: 0;
    border-inline-start: 0;
  }
}

@media (min-width: 992px) {
  .profile-content {
    margin-inline-start: 200px;
  }
}

/* image styles */

.avatar {
  width: 100px;
  height: 100px;
  transform: translateY(60%);
  object-fit: cover;
  border: 3px solid var(--mdb-light);
}

@media (min-width: 576px) {
  .avatar {
    width: 125px;
    height: 125px;
    transform: translateY(55%);
  }
}

@media (min-width: 768px) {
  .avatar {
    width: 175px;
    height: 175px;
    transform: translateY(65%);
    border: 4px solid var(--mdb-light);
  }
}

@media (min-width: 992px) {
  .avatar {
    width: 200px;
    height: 200px;
    transform: translateY(70%);
    border: 5px solid var(--mdb-light);
  }
}

/* background styles */

.dark {
  --mdb-heading-color: var(--mdb-light);
  background: var(--mdb-dark);
  color: var(--mdb-light);
}

body section {
  margin-block-end: 30px;
}

footer section, .news-section {
  background-color: inherit;
}

#settingsForm {
  position: relative;
}

.bg-sticky {
  position: sticky;
  z-index: 5;
  bottom: 4%;
  padding-block-start: 30px;
  padding-block-end: 40px;
  background: linear-gradient(to bottom, var(--mdb-dark), transparent 100px);
}

.bg-style {
  border-radius: 10px;
  padding: 20px;
  border-block: 5px solid var(--mdb-accent);
}

.bg-title {
  background: linear-gradient(215deg, var(--mdb-primary), #14213D, var(--mdb-primary));
  border-block-end: 5px solid var(--mdb-accent);
  padding: 10px 20px;
  text-decoration: none;
}

.offcanvas-header, .modal-header {
  justify-content: space-between;
  background: linear-gradient(215deg, var(--mdb-primary), #14213D);
  border-block-end: 5px solid var(--mdb-accent);
  padding: 10px 20px;
  --mdb-heading-color: var(--mdb-light);
}

/* Social Media Links Styles */

.social-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
}

.social-links a i {
  width: 45px;
  height: 45px;
  padding: 15px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Facebook */

.social-links a.facebook-link {
  color: var(--btn-color-facebook);
  background-color: var(--mdb-light);
  border: 1px solid var(--btn-color-facebook);
}

.social-links a.facebook-link:hover {
  color: var(--mdb-light);
  background-color: var(--btn-color-facebook);
}

.social-links a.facebook-link i.fa-facebook-f {
  color: var(--mdb-light);
  background-color: var(--btn-color-facebook);
}

.social-links a.facebook-link:hover i.fa-facebook-f {
  background-color: var(--mdb-light);
  color: var(--btn-color-facebook);
}

/* Instagram */

.social-links a.instagram-link {
  color: var(--btn-color-instagram);
  background-color: var(--mdb-light);
  border: 1px solid var(--btn-color-instagram);
}

.social-links a.instagram-link:hover {
  color: var(--mdb-light);
  background-color: var(--btn-color-instagram);
}

.social-links a.instagram-link i.fa-instagram {
  color: var(--mdb-light);
  background-color: var(--btn-color-instagram);
}

.social-links a.instagram-link:hover i.fa-instagram {
  background-color: var(--mdb-light);
  color: var(--btn-color-instagram);
}

/* TikTok */

.social-links a.tiktok-link {
  color: var(--btn-color-tiktok);
  background-color: var(--mdb-light);
  border: 1px solid var(--btn-color-tiktok);
}

.social-links a.tiktok-link:hover {
  color: var(--mdb-light);
  background-color: var(--btn-color-tiktok);
}

.social-links a.tiktok-link i.fa-tiktok {
  color: var(--mdb-light);
  background-color: var(--btn-color-tiktok);
}

.social-links a.tiktok-link:hover i.fa-tiktok {
  background-color: var(--mdb-light);
  color: var(--btn-color-tiktok);
}

/* Twitter */

.social-links a.twitter-link {
  color: var(--btn-color-twitter);
  background-color: var(--mdb-light);
  border: 1px solid var(--btn-color-twitter);
}

.social-links a.twitter-link:hover {
  color: var(--mdb-light);
  background-color: var(--btn-color-twitter);
}

.social-links a.twitter-link i.fa-twitter {
  color: var(--mdb-light);
  background-color: var(--btn-color-twitter);
}

.social-links a.twitter-link:hover i.fa-twitter {
  background-color: var(--mdb-light);
  color: var(--btn-color-twitter);
}

/* YouTube */

.social-links a.youtube-link {
  color: var(--btn-color-youtube);
  background-color: var(--mdb-light);
  border: 1px solid var(--btn-color-youtube);
}

.social-links a.youtube-link:hover {
  color: var(--mdb-light);
  background-color: var(--btn-color-youtube);
}

.social-links a.youtube-link i.fa-youtube {
  color: var(--mdb-light);
  background-color: var(--btn-color-youtube);
}

.social-links a.youtube-link:hover i.fa-youtube {
  background-color: var(--mdb-light);
  color: var(--btn-color-youtube);
}