<% const form = {
    idForm: 'searchMenuForm',
    inputs: [
        { id: 'textSearchInput', label: 'Título:', name: 'q', type: 'text' },
        { id: 'textSearchAuthorInput', label: 'Autor:', name: 'author', type: 'text' },
        { id: 'startDateSearchInput', label: 'De:', name: 'startDate', type: 'date' },
        { id: 'endDateSearchInput', label: 'A:', name: 'endDate', type: 'date' }
    ],
    selectCategory: {
        id: 'selectCategorySearchInput',
        label: 'Categoría:',
        name: 'category',
        options: categories
    },
    selectOrdering: {
        id: 'selectOrderingSearchInput',
        label: 'Ordenamiento:',
        name: 'ordering',
        options: [
            { id: 1, name: 'Más recientes' },
            { id: 2, name: 'Más antiguos' },
            { id: 3, name: 'Más populares' }
        ]
    }
}; %>

<div id="searchMenu" tabindex="-1" class="offcanvas offcanvas-start" 
    aria-labelledby="searchTitle"
>
    <div class="offcanvas-header">
        <h5 id="searchTitle" class="offcanvas-title">Búsqueda de noticias</h5>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Cerrar">
            <i class="fa-solid fa-xmark fa-lg"></i>
        </button>
    </div>

    <div class="offcanvas-body dark">
        <%- include('../shared/form', {
            form,
            formViewMode: 'search'
        }); %>
    </div>
</div>