<% const form = {
    id: 'preferencesForm',
    switches: [
        {
            id: 'commentNotificationsSwitch',
            content: 'Notificame por correo electr贸nico cuando sea mencionado o respondan a mis comentarios.',
            name: 'commentNotifications',
            checked: preferences.commentNotifications
        },
        {
            id: 'followingNotificationsSwitch',
            content: 'Notificame por correo electr贸nico cuando haya actualizaciones sobre mis temas favoritos.',
            name: 'followingNotifications',
            checked: preferences.followingNotifications
        },
        {
            id: 'newsletterNotificationsSwitch',
            content: 'Notificame por correo electr贸nico cuando haya noticias importantes o boletines cada semana.',
            name: 'newsletterNotifications',
            checked: preferences.newsletterNotifications
        }
    ],
    submitButton: {
        id: 'preferencesSubmitButton', 
        content: 'Guardar cambios'
    }
}; %>

<form id="<%= form.id %>" class="row g-3">
    <div class="row">
        <%- include('../secondaryTitle', { title: 'Notificaciones' }) %>

        <p>Administra tus preferencias de notificaci贸n.</p>

        <div class="d-flex justify-content-center flex-column align-items-start">
            <%- include('../../../shared/switchList', { switches: form.switches }) %>
        </div>
    </div>

    <div class="d-flex justify-content-center bg-sticky rounded-3">
        <%- include('../../../shared/submit', { button: form.submitButton }) %>
    </div>
</form>