<footer class="dark">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-12 col-md-5 col-lg-4">
                <%- include('./components/newsletter', { isFooter: true }) %>

                <%- include('./components/socialMedia', { isFooter: true }) %>
            </div>

            <div class="col-12 col-md-7 col-lg-8">
                
            </div>
        </div>
    </div>

    <div class="container-fluid bg-secondary py-2">
        <p class="text-center">&copy; <a href="#">Titulo</a>. Todos los derechos reservados.
    </div>

    <a href="#" class="btn btn-primary btn-fixed back-to-top"><i class="fa fa-arrow-up"></i></a>
</footer>