<% const menuButton = {
    id: 'menuOffcanvasBtn',
    class: 'navbar-toggler p-2',
    attrs: {
        'data-mdb-ripple-init': '',
        'data-mdb-offcanvas-init': '',
        'data-mdb-target': '#menuOffcanvas',
        'aria-controls': 'menuOffcanvas',
        'aria-expanded': 'false'
    },
    content: '<i class="fas fa-bars me-2"></i>Menú'
}; %>

<header class="dark">
    <%- include('./components/header/navbar') %>

    <%- include('./components/header/offcanvas') %>

    <div class="container-fluid bg-title py-3">
        <div class="d-flex align-items-center justify-content-center position-relative">
            <div class="position-absolute start-0 d-lg-none">
                <div class="btn btn-primary p-0">
                    <%- include('../shared/button', { button: menuButton }) %>
                </div>
            </div>
            
            <a href="/" class="navbar-brand text-center">
                <h1 class="title-style">Titulo</h1>
            </a>
        </div>
    </div>
</header>