<%- isFooter ? '' : 
`<div class="card">
    <div class="card-body">`
%>
        <% if (content) { %>
            <p class="card-text text-center">
                <%= content %>
            </p>
        <% } %>

        <%- action %>
<%- isFooter ? '' : 
`    </div>
</div>`
%>