<% const form = {
    attrs: {
        'id': (isFooter) ? 'newsletterFooterForm' : 'newsletterSidebarForm'
    },
    input: {
        id: (isFooter) ? 'emailNewsletterFooterInput' : 'emailNewsletterSidebarInput',
        type: 'email',
        name: 'email',
        attrs: {
            'placeholder': 'Ingresa tu correo electrónico.'
        },
        label: {
            content: 'Correo electrónico:'
        }
    },
    submitButton: {
        id: (isFooter) ? 'newsletterFooterBtn' : 'newsletterSidebarBtn',
        content: 'Suscribirse'
    }
}; 

const newsletterForm = include('./groupInputForm', { form }); %>

<section>
    <h2 class="title-style">Suscríbete a nuestro boletín</h2>

    <%- include('./cardBody', { 
        action: newsletterForm, 
        content: 'No te pierdas ninguna noticia: suscríbete a nuestro boletín.',
        isFooter
    }) %>
</section>