<% const getUserAvatar = (usernameClass) => include('../../../shared/userAvatar', {
    avatarClass: 'rounded-circle me-2',
    width: 32,
    height: 32,
    comment: null,
    usernameClass,
    variant: 'header'
});

const links = [
    { 
        content: 'Mi perfil', 
        slug: '/profile#home-tab' 
    },
    { 
        content: 'Seguimientos', 
        slug: '/profile#following-tab' 
    },
    { 
        content: 'Configuración', 
        slug: '/profile#settings-tab' 
    },
];

const accordion = {
    id: 'profileAccordion',
    items: [
        { 
            toggleButton: { 
                id: 'profileAccordionToggle', 
                content: getUserAvatar('fw-bold fs-2') 
            },
            ids: { 
                idHeader: 'profileAccordionHeader', 
                idCollapse: 'profileAccordionCollapse' 
            }, 
            body: { 
                title: 'Menú de perfil', 
                links, 
                form: {
                    buttonClass: 'list-group-item list-group-item-action btn btn-link w-100 text-start'
                }
            }
        }
    ]
};

const dropdown = {
    link: `
        <a href="/profile" class="btn btn-dark d-flex align-items-center">
            ${ getUserAvatar('fw-bold') }
        </a>
    `,
    toggleButton: {
        id: 'dropdownMenuButton',
        class: 'btn btn-dark dropdown-toggle-split',
        content: '<i class="fas fa-caret-down"></i>'
    },
    form: {
        buttonClass: 'dropdown-item'
    }
}; %>

<% if (profileMenuViewMode === 'header') { %>
    <ul class="navbar-nav">
        <%- include('./menuDropdown', { 
            dropdown,
            links
        }) %>
    </ul>
<% } else { %>
    <%- include('./menuAccordion', { accordion }) %>
<% } %>