<% const links = [
    { 
        content: 'Mi perfil', 
        slug: '/profile#home-tab' 
    },
    { 
        content: 'Seguimientos', 
        slug: '/profile#following-tab' 
    },
    { 
        content: 'Configuración', 
        slug: '/profile#settings-tab' 
    },
];

const profileElement = (displayNameClass) => `
    <img src="${ profile.avatarPath }" alt="Perfil"  class="rounded-circle me-2" 
    width="32" height="32">

    <span class="${ displayNameClass }">${ profile.username }</span>
`;

const accordion = {
    id: 'profileAccordion',
    items: [
        { 
            toggleButton: { 
                id: 'profileAccordionToggle', 
                content: profileElement('fw-bold fs-2') 
            },
            ids: { 
                idHeader: 'profileAccordionHeader', 
                idCollapse: 'profileAccordionCollapse' 
            }, 
            body: { 
                title: 'Menú de perfil', 
                links, 
                form: {
                    buttonClass: 'list-group-item list-group-item-action btn btn-link w-100 text-start'
                }
            }
        }
    ]
};

const dropdown = {
    link: `
        <a href="/profile" class="btn btn-dark d-flex align-items-center">
            ${ profileElement('fw-bold') }
        </a>
    `,
    toggleButton: {
        id: 'dropdownMenuButton',
        class: 'btn btn-dark dropdown-toggle-split',
        content: '<i class="fas fa-caret-down"></i>'
    },
    form: {
        buttonClass: 'dropdown-item'
    }
}; %>

<% if (profileMenuViewMode === 'header') { %>
    <ul class="navbar-nav">
        <%- include('./menuDropdown', { 
            dropdown,
            links
        }) %>
    </ul>
<% } else { %>
    <%- include('./menuAccordion', { accordion }) %>
<% } %>