<ul class="<%= list.class %>">
    <% list.links.forEach(link => { %>
        <li class="nav-item py-1">
            <a class="<%= link.class %>" href="<%= link.slug %>">
                <%- link.content %>
            </a>
        </li>
    <% }); %>
</ul>