<% const list = {
    class: `nav gap-2${ isFooter ? ' d-flex justify-content-center' : ' flex-column social-links' }`,
    links: [
        { content: `<i class="fab fa-tiktok"></i>${ isFooter ? '' : 'TikTok' }`, slug: '#', class: isFooter ? 'btn btn-floating btn-tiktok' : 'tiktok-link' },
        { content: `<i class="fab fa-facebook-f"></i>${ isFooter ? '' : 'Facebook' }`, slug: '#', class: isFooter ? 'btn btn-floating btn-facebook' : 'facebook-link' },
        { content: `<i class="fab fa-instagram"></i>${ isFooter ? '' : 'Instagram' }`, slug: '#', class: isFooter ? 'btn btn-floating btn-instagram' : 'instagram-link' },
        { content: `<i class="fab fa-twitter"></i>${ isFooter ? '' : 'Twitter' }`, slug: '#', class: isFooter ? 'btn btn-floating btn-twitter' : 'twitter-link' },
        { content: `<i class="fab fa-youtube"></i>${ isFooter ? '' : 'YouTube' }`, slug: '#', class: isFooter ? 'btn btn-floating btn-youtube' : 'youtube-link' }
    ]
}; %>

<section>
    <h2 class="title-style">
        Siguenos
    </h2>

    <%- !isFooter ? `
        <div class="card">
            <div class="card-body">
    ` : '' %>
    
                <%- include('./linkList', { list }); %>
    
    <%- !isFooter ? `
            </div>
        </div>
    ` : '' %>
</section>