<div class="list-group">
    <div class="row">
        <% items.forEach( item => { %>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                <a href="#" data-mdb-ripple-init class="list-group-item-action card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <%- item.picture ? `
                                <img src="${ item.picture }" alt="Foto de perfil"
                                    width="45" height="45" class="rounded-circle"
                                >
                            ` : '' %>

                            <div class="ms-3">
                                <p class="fw-bold mb-0"><%= item.name || item.displayName %> <%= item.lastName || '' %></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>