<div class="<%= col %> mb-3">
    <% if (description) { %>
        <p><%= description %></p>
    <% } %>

    <% if (input.type) { %>
        <%- include('../../../shared/outlineInput', { input }) %>
    <% } else { %>
        <%- include('../../../shared/fileInput', { input }) %>
    <% } %>
</div>