<% const items = [
    { 
        content: 'Inicio', 
        href: '/', 
        isActive: currentRoute === '/'
    },
    { 
        content: 'Gaming', 
        href: '/categories/gaming', 
        isActive: currentRoute === '/categories/gaming' 
    },
    { 
        content: 'Entretenimiento', 
        href: '/categories/entertainment', 
        isActive: currentRoute === '/categories/entertainment'
    },
    { 
        content: 'Deportes', 
        href: '/categories/sports', 
        isActive: currentRoute === '/categories/sports' 
    },
    { 
        content: 'Tecnología', 
        href: '/categories/technology', 
        isActive: currentRoute === '/categories/technology'
    }
].map(item => ({
    ...item,
    class: `nav-link ${ item.isActive ? 'active' : ''}`
}));

const searchForm = {
    idInput: 'textSearchHeaderInput',
    idButton: 'searchHeaderBtn'
}; %>

<nav class="navbar navbar-expand-lg bg-dark p-0">
    <div class="container-fluid justify-content-between">
        <div class="d-none d-sm-flex" role="navigation">
            <%- include('./searchForm', { searchForm }) %>
        </div>

        <div class="d-none d-lg-flex" role="navigation">
            <%- include('../../ui/navList', { 
                listClass: 'navbar-nav',
                items 
            }) %>
        </div>

        <div class="d-none d-sm-flex" role="navigation">
            <% if (!profile) { %>
                <%- include('../../../shared/loginButton', { idLoginButton: 'loginHeaderBtn' }) %>
            <% } else { %>
                <%- include('./profileMenu', { variant: 'navbar' }) %>
            <% } %>
        </div>
    </div>
</nav>