<% const getUserAvatar = (usernameClass) => include('../../../shared/userAvatar', {
    item: profile,
    avatarClass: 'rounded-circle me-2',
    width: 32,
    height: 32,
    comment: null,
    usernameClass,
    variant: 'header'
});

const links = [
    { 
        content: 'Mi perfil', 
        href: '/profile#home-tab' 
    },
    { 
        content: 'Seguimientos', 
        href: '/profile#following-tab' 
    },
    { 
        content: 'Cuenta', 
        href: '/profile#account-tab' 
    },
    { 
        content: 'Preferencias', 
        href: '/profile#preferences-tab' 
    },
    {
        content: 'Seguridad',
        href: '/profile#security-tab'
    }
];

const getLogoutForm = (buttonClass) => include('./logoutForm', { buttonClass });

const accordion = {
    id: 'profileAccordion',
    items: [
        { 
            toggleButton: { 
                id: 'profileAccordionToggle', 
                content: getUserAvatar('fw-bold fs-2') 
            },
            ids: { 
                idHeader: 'profileAccordionHeader', 
                idCollapse: 'profileAccordionCollapse' 
            }, 
            body: { 
                title: 'Menú de perfil', 
                links, 
                logout: getLogoutForm('list-group-item list-group-item-action btn btn-link w-100 text-start')
            }
        }
    ]
};

const dropdown = {
    linkSplit: `
        <a href="/profile" class="btn btn-dark d-flex align-items-center">
            ${ getUserAvatar('fw-bold') }
        </a>
    `,
    toggleSplitButton: {
        id: 'dropdownMenuButton',
        class: 'btn btn-dark dropdown-toggle-split',
        content: '<i class="fas fa-caret-down"></i>'
    },
    links,
    logout: getLogoutForm('dropdown-item')
}; %>

<% if (variant === 'navbar') { %>
    <%- include('../../../shared/dropdown', { dropdown }) %>
<% } else { %>
    <%- include('./menuAccordion', { accordion }) %>
<% } %>